{% include relBase.html %}
<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>
      <a target="_blank" href="{{ site.copyright-website }}" >&copy; {{ site.copyright }} {{ site.time | date: '%Y' }}</a>
    </p>
    <img
      src="{{ relBase }}assets/images/UCBerkeley_wordmark_gold.png"
      alt="UCB-Logo"
      width="8%"
    />
    <p>
      {% if site.website %}<a target="_blank" href="{{ site.website }}"
        >Website</a
      >{% endif %} {% if site.githubRepo %}<a
        target="_blank"
        href="{{ site.githubRepo }}"
        >Github</a
      >{% endif %}
    </p>
  </div>
</footer>
