/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
$c__red: #f44336;
$c__pink: #e91e63;
$c__purple: #9c27b0;
$c__deep-purple: #673ab7;
$c__indigo: #3f51b5;
$c__blue: #2196f3;
$c__light-blue: #03a9f4;
$c__cyan: #00bcd4;
$c__teal: #009688;
$c__green: #4caf50;
$c__light-green: #8bc34a;
$c__lime: #cddc39;
$c__yellow: #ffeb3b;
$c__amber: #ffc107;
$c__orange: #ff9800;
$c__deep-orange: #ff5722;
$c__brown: #795548;
$c__grey: #9e9e9e;
$c__light-grey: #fafafa;
$c__blue-grey: #01273a;
$c__black: #000000;
$c__off-black: #1e1e1e;
$c__white: #ffffff;
$c__off-white: #cccccc;

// Default Theme
$t-theme: $c__indigo;
